/* As hex codes */

.color-primary-0 { color: #1B3156 }	/* Main Primary color */
.color-primary-1, h1, h2, p, #r1 { color: #4E6388 }
.color-primary-2 { color: #30466D }
.color-primary-3 { color: #0A1D3C }
.color-primary-4 { color: #030F23 }

.color-bg-0 { background-color: #1B3156 }	/* Main Primary color */
.color-bg-1 { background-color: #4E6388 }
.color-bg-2, body { background-color: #30466D }
.color-bg-3 { background-color: #0A1D3C }
.color-bg-4 { background-color: #030F23 }

body {
    margin: 20px auto;
    max-width: 1500px;
}

hr {
    border-top: 0;
    border-bottom: 1px solid #030F23;
}

p {
    text-align: justify;
} 

#r1 {
    text-align: left
}

/* As RGBa codes */

.rgba-primary-0 { color: rgba( 27, 49, 86,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba( 78, 99,136,1) }
.rgba-primary-2 { color: rgba( 48, 70,109,1) }
.rgba-primary-3 { color: rgba( 10, 29, 60,1) }
.rgba-primary-4 { color: rgba(  3, 15, 35,1) }
